@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px) {

}

body {
  background-color: lightgrey;
  font-family: 'Josefin Sans', sans-serif;

  .container {
    box-sizing: border-box;
    background-color: white;
    margin: 0 auto;

    .top-menu {
      box-sizing: border-box;
      display: block;
      background-color: black;
      color: white;
      margin: 0 auto;
      padding: 0.75em;
      text-align: center;

      ul {
        box-sizing: border-box;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;

        li {
          box-sizing: border-box;
          display: inline-block;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 0.75em;
          margin: 0 auto;
          width: auto;
          padding: 0.75em;
        }

      }

    }

    header {
      box-sizing: border-box;
      margin: 0 auto;
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/78/Japanese_Robin_9625.jpg);
      height: 400px;

      h1 {
        box-sizing: border-box;
        font-weight: 700;
        color: white;
        margin-top: 0;
        padding: 0;
        padding-top: 4em;
      }

      span {
        font-weight: 300;
        color: white;
        display: block;
        text-align: center;
        margin-top: -1em;
      }

    }

    #about-author {
      box-sizing: border-box;
      padding: 2em;

      #author-img {
        box-sizing: border-box;
        float: left;
        margin-right: 2em;

        img {
          height: 120px;
          width: 120px;
          border-radius: 50%;
          margin-top: 0.75em;
        }

      }

      #author-info {
        box-sizing: border-box;
        display: inline-block;
        width: 75%;

        h4 {
          box-sizing: border-box;
          text-transform: uppercase;
          font-weight: 400;
          color: gray;
          font-size: 0.75em;
          padding: 0;
          margin: 0 auto;
          margin-bottom: 0.75em;
        }

        h2 {
          box-sizing: border-box;
          font-weight: 700;
          font-size: 2em;
          padding: 0;
          margin: 0 auto;
          margin-bottom: 0.5em;
        }

        p {
          box-sizing: border-box;
          font-weight: 300;
          font-size: 1em;
          padding: 0;
          margin: 0 auto;
        }

      }

    }

    .blog-entry {
      box-sizing: border-box;
      margin: 0 auto;

      #entry-1 {
        box-sizing: border-box;
        width: 95%;
        margin: 0 auto;
        padding: 1em;

        h5 {
          box-sizing: border-box;
          margin: 0 auto;
          text-align: center;
          padding: 0.5em;
          font-size: 1em;
        }

        h2 {
          box-sizing: border-box;
          margin: 0 auto;
          text-align: center;
          padding: 0.5em;
          font-size: 1.75em;
        }

      }

    }

  }

}
